{%extends 'flowers/layouts/base.html'%}
{% load static %}
{%block title %} Create new Author {%endblock%}
{% block content %}

    <h1> Create new Author   </h1>


<form  method="POST"  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">Bio</label>
    <input type="text"  name='bio' class="form-control" >
  </div>

    <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="file" name='image'  class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">City</label>
    <input type="text" name='city' class="form-control" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}