{%extends 'flowers/layouts/base.html'%}
{% load static %}
{%block title %} Books index {%endblock%}
{% block content %}

    <h1> Create new book  </h1>


<form  method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text"  name='description' class="form-control" >
  </div>

    <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="text" name='image'  class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">No of pages</label>
    <input type="number" name='no_of_pages' class="form-control" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}