{%extends 'flowers/layouts/base.html'%}
{% load static %}
{%block title %} Books details {%endblock%}
{% block content %}
    <h1> Book info </h1>
        <div class="card" style="width: 18rem;display: inline-block;margin:15px;">
          <img src="{%static 'books/images/'|add:book.image %}"
               width="250" height="250"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">Description : {{book.description}}</p>

            <a href="{% url 'books.index'%}" class="btn btn-primary">Back to all books </a>
          </div>
        </div>
{%endblock%}